@font-face {
    font-family: Ubuntu Medium Italics;
    src: url(FontsFolder/Ubuntu/Ubuntu-MediumItalic.ttf);
}
@font-face {
    font-family: callOfOps2;
    src: url(FontsFolder/Call\ of\ Ops\ Duty.otf);
}
@font-face {
    font-family: beckett;
    src: url(FontsFolder/BECKETT_.TTF);
}

#cbtBody{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(img/exampics.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
#fullName{
    width: 100%;
    border-color: aqua; 
}
#exampleInputEmail1{
    width: 100%;
    border-color: aqua;
}
#exampleInputPassword1{
    width: 100%;
    border-color: aqua;
}
#passErrorMsg{
    color: red;
}
#topMostSection{
    margin-top: 10%;
    width: 90%;
    margin-bottom: 20%;
}
#textColumn{
    width: 100%;
    margin: auto;
}
#testName{
    font-size: 28px;
    letter-spacing: 3px;
    font-family: beckett;
    color: aqua;
    text-align: end;
    margin-top: 5%;
    margin: auto;
}
#lowerText{
    margin: auto;
    width: 100%;
    text-align: end;
    letter-spacing: 2px;
    color: white;
    text-shadow: 20px;
}
#secondLowerText{
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 2%;
}
#logo1{
    width: 20%;
    height: 20%;
    margin-left: 10%;
    border-radius: 50%;
    border-color: white;
    border-style: solid;
}
#formBorder{
    margin-top: 5%;
    margin: auto;
    background-color: white;
    width: 90%;
    border-radius: 20px;
    border-color: aqua;
    border-style: solid;
}
#formControl1{
    margin: auto;
    width: 90%;
}
#btnDiv{
    display: flex;
    width: 100%;
    margin-bottom: 3%;
}
#loginBtn{
    margin: auto;
}




@media only screen and (min-width: 992px){
    #cbtBody{
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(img/exampics.jpg);
        background-repeat: repeat-y;
        width: 100%;
        height: 100vh;
        background-size: cover;
    }
    #fullName{
        width: 100%;
        border-color: aqua; 
    }
    #exampleInputEmail1{
        width: 100%;
        border-color: aqua;
    }
    #exampleInputPassword1{
        width: 100%;
        border-color: aqua;
    }
    #passErrorMsg{
        color: red;
        width: 400px;
    }
    #topMostSection{
        margin-top: 0%;
        width: 90%;
        margin-bottom: 8%;
    }
    #textColumn{
        width: 100%;
        margin: auto;
    }
    #testName{
        width: 80%;
        margin-left: 4%;
        color: aqua;
        text-align: center;
        margin-top: 0%;
        font-size: 55px;
        font-family: beckett;
        letter-spacing: 6px;
    }
    #lowerText{
        padding-right: 14%;
        width: 100%;
        text-align: center;
        color: white;
        text-shadow: 20px;
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #secondLowerText{
        color: white;
        text-align: center;
        margin: auto;
        margin-top: 0%;
        margin-bottom: 1%;
    }
    #logo1{
        width: 20%;
        height: 20%;
        margin-left: 1%;
        border-radius: 50%;
        border-color: white;
        border-style: solid;
    }
    #formBorder{
        margin-top: -5%;
        margin-bottom: 10vh;
        background-color: white;
        width: 60%;
        height: 45vh;
        border-radius: 20px;
        border-color: aqua;
        border-width: 2px;
        border-style: solid;
    }
    #formControl1{
        margin: auto;
        width: 90%;
    }
    #btnDiv{
        display: flex;
        width: 100%;
        margin-bottom: 3%;
    }
    #loginBtn{
        margin: auto;
    }
}

